[submodule "ascendfsw/lib/Adafruit_SPIFlash"]
	path = ascendfsw/lib/Adafruit_SPIFlash
	url = https://github.com/adafruit/Adafruit_SPIFlash.git
[submodule "ascendfsw/lib/SparkFun_SPI_SerialFlash_Arduino_Library"]
	path = ascendfsw/lib/SparkFun_SPI_SerialFlash_Arduino_Library
	url = https://github.com/sparkfun/SparkFun_SPI_SerialFlash_Arduino_Library.git
